<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 class="text1">User Score: <span id="userScoreFib">500</span></h1>
    <h1 class="text2">Amount Bet: <span id="betAmountFib">0</span></h1>

    <div id="track">
        <div class="lane">
            <span class="car-label" id="carLabel1">Matrix</span>
            <img class="race-car1" src="https://github.com/TEE-CSA/TEEBackend/assets/109186517/0fe7001f-0d2e-40fc-bdd1-9b82373862f5" alt="Car 1">
        </div>
        <div class="lane" style="top: 25%;">
            <span class="car-label" id="carLabel2">While Loop</span>
            <img class="race-car2" src="https://github.com/TEE-CSA/TEEBackend/assets/109186517/6d9bc8e3-8c8e-4854-8194-0b5fdacad24b" alt="Car 2">
        </div>
        <div class="lane" style="top: 50%;">
            <span class="car-label" id="carLabel3">Recursion</span>
            <img class="race-car3" src="https://github.com/TEE-CSA/TEEBackend/assets/109186517/3976c85c-ae57-43a0-9331-1e10bf51d29f" alt="Car 3">
        </div>
        <div class="lane1" style="top: 75%">
            <span class="car-label" id="carLabel4">For Loop</span>
            <img class="race-car4" src="https://github.com/TEE-CSA/TEEBackend/assets/109186517/7ad3a783-5957-4979-81c0-33619a9b4ef4" alt="Car 4">
        </div>
        <div class="finish">
            <span class="finish-text">Finish</span>
        </div>
    </div>

    <form id="lengthForm">
        <label for="length">Length of Fibonacci Numbers</label>
        <input type="number" id="length" min="1" value="1">
    </form>

    <input type="number" id="fibBetInput" placeholder="Enter bet amount" />
    <button id="betBtnFib" onclick="placeBetFib()">Place Bet</button>
    <button id="startBtn" onclick="startFibonacciRace()">Start Fibonacci Race</button>
    <button id="resetBtn" onclick="resetRace()">Reset Race</button>

    <br>
    <br> 
    <table id="data">
        <thead>
            <tr>
                <th>Method</th>
                <th>Time</th>
                <th>Iterations</th>
                <th>Time Complexity</th>
            </tr>
        </thead>
        <tbody id="results">
            <!-- results generated -->
        </tbody>
    </table>

    <script>
        let userScoreFib = 500; // Initial user score for Fibonacci race
        let betAmountFib = 0;   // Initial bet amount for Fibonacci race
        let raceResultFib;

        async function startFibonacciRace(resultFib) {
            try {
                // Fetch algorithm times from the backend
                const length = document.getElementById('length').value;
                const response = await fetch(`http://localhost:8085/api/fibonacci/speeds?length=${length}`);
                const algorithmTimes = await response.json();

                updateResultTable(algorithmTimes);

                setCarAnimation(algorithmTimes);

                

                await Promise.all([
                    waitForTransition('.race-car1'),
                    waitForTransition('.race-car2'),
                    waitForTransition('.race-car3'),
                    waitForTransition('.race-car4')
            ]);

            displayFibonacciRaceResults();
        } catch (error) {
            console.error('Error fetching algorithm times:', error);
        }
    }
        function setCarAnimation(algorithmTimes) {
        // Find the minimum and maximum times for scaling
            const times = Object.values(algorithmTimes).map(a => a.time);
            const minTime = Math.min(...times);
            const maxTime = Math.max(...times);
            const scale = 7000 / (maxTime - minTime); // Adjust scale factor as needed

        Object.keys(algorithmTimes).forEach((algorithm, index) => {
            const carElement = document.querySelector(`.race-car${index + 1}`);
            const time = algorithmTimes[algorithm].time;
            // Scale the duration within a reasonable range
            const duration = (time - minTime) * scale + 1000; // Minimum duration of 1 second
            carElement.style.transitionDuration = duration + 'ms';
            carElement.style.transform = "translateX(970px)";
        });
    }

        function waitForTransition(selector) {
            return new Promise(resolve => {
                const element = document.querySelector(selector);
                element.addEventListener('transitionend', resolve, { once: true });
            });
        }

        function displayFibonacciRaceResults() {
            if (!raceResultFib) {
                console.error("No race result data available.");
                return;
            }

            const userWon = raceResultFib.selectedAlgorithm === raceResultFib.fastestAlgorithm;
            const winLossAmount = userWon ? betAmountFib * 2 : -betAmountFib;
            const winLossMessage = userWon ? `You won ${winLossAmount} points!` : `You lost ${betAmountFib} points.`;

            alert(`Race finished! Algorithm Bet on: ${raceResultFib.selectedAlgorithm}\n` +
                `Winning algorithm: ${raceResultFib.fastestAlgorithm}\n` +
                winLossMessage +
                `Fun Fact: ${raceResultFib.funFact}`);

            userScoreFib += winLossAmount;
            document.getElementById("userScoreFib").textContent = userScoreFib;
}



        function updateResultTable(algorithmTimes) {
            try {
                const table = document.getElementById("results");

                // Add data rows to the table
                addRow(table, "Matrix", algorithmTimes["matrixFibonacci"]);
                addRow(table, "While Loop", algorithmTimes["whileLoopFibonacci"]);
                addRow(table, "Recursion", algorithmTimes["recursionFibonacci"]);
                addRow(table, "For Loop", algorithmTimes["forLoopFibonacci"]);
            } catch (error) {
                console.error('Error updating result table:', error);
            }
        }

        
        function addRow(table, method, data) {
            const row = table.insertRow();
            const cell1 = row.insertCell(0);
            const cell2 = row.insertCell(1);
            const cell3 = row.insertCell(2);
            const cell4 = row.insertCell(3);
        
            cell1.innerHTML = method;
            cell2.innerHTML = data["time"];
            cell3.innerHTML = data["iterations"];
            cell4.innerHTML = getComplexity(method);
        }
        function getComplexity(method) {
            switch (method) {
                case "For Loop":
                case "While Loop":
                    return "O(n)";
                case "Recursion":
                    return "O(n^2)";
                case "Matrix":
                    return "O(log(n))";
                default:
                    return "";
            }
        }
        function resetRace() {
            document.querySelector(".race-car1").style.transform = "translateX(0)";
            document.querySelector(".race-car2").style.transform = "translateX(0)";
            document.querySelector(".race-car3").style.transform = "translateX(0)";
            document.querySelector(".race-car4").style.transform = "translateX(0)";
            document.getElementById("fibBetInput").value = '';
            document.getElementById("length").value = '1';
            document.getElementById("betAmountFib").textContent = betAmountFib;
            document.getElementById("userScoreFib").textContent = userScoreFib;
            raceResultFib = null; // Clear stored race results

            // Clear the table
            const table = document.getElementById("results");
            table.innerHTML = '';
}

        async function placeBetFib() {
            const betInputValue = parseInt(document.getElementById("fibBetInput").value);
            if (isNaN(betInputValue) || betInputValue <= 0 || betInputValue > userScoreFib) {
                alert("Invalid bet amount for Fibonacci race");
                return;
            }

            betAmountFib = betInputValue;
            document.getElementById("betAmountFib").textContent = betAmountFib;

            try {
                const response = await fetch(`http://localhost:8085/api/fibonacci/bet?betAmount=${betAmountFib}&startingPoints=${userScoreFib}`);
                raceResultFib = await response.json(); // Store the race result
                // Do not start the race here. The race will start when "Start Fibonacci Race" button is clicked.
            } catch (error) {
                console.error('Error placing bet for Fibonacci race:', error);
            }
        }
    </script>
</body>