<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1 class="text1">User Score: <span id="userScore">500</span></h1>
    <h1 class="text2">Amount Bet: <span id="betAmount">0</span></h1>
    <div id="track">
        <div class="lane">
            <span class="car-label" id="carLabel1">Merge Sort</span>
            <img class="race-car race-car1"
                src="https://github.com/TEE-CSA/TEEBackend/assets/109186517/0fe7001f-0d2e-40fc-bdd1-9b82373862f5"
                alt="Car 1">
        </div>
        <div class="lane" style="top: 25%;">
            <span class="car-label" id="carLabel2">Insertion Sort</span>
            <img class="race-car race-car2"
                src="https://github.com/TEE-CSA/TEEBackend/assets/109186517/6d9bc8e3-8c8e-4854-8194-0b5fdacad24b"
                alt="Car 2">
        </div>
        <div class="lane" style="top: 50%;">
            <span class="car-label" id="carLabel3">Bubble Sort</span>
            <img class="race-car race-car3"
                src="https://github.com/TEE-CSA/TEEBackend/assets/109186517/3976c85c-ae57-43a0-9331-1e10bf51d29f"
                alt="Car 3">
        </div>
        <div class="lane1" style="top: 75%">
            <span class="car-label" id="carLabel4">Selection Sort</span>
            <img class="race-car race-car4"
                src="https://github.com/TEE-CSA/TEEBackend/assets/109186517/7ad3a783-5957-4979-81c0-33619a9b4ef4"
                alt="Car 4">
        </div>
        <div class="finish">
            <span class="finish-text">Finish</span>
        </div>
    </div>
    <form id="lengthForm">
        <label for="length">Length of Sorting Array</label>
        <input type="number" id="length" min="1" value="1">
    </form>
    <input type="number" id="betInput" placeholder="Enter bet amount" />
    <button id="betBtn" onclick="placeBet()">Place Bet</button>
    <button id="startBtn" onclick="startSortingRace()">Start Race</button>
    <button id="resetBtn" onclick="resetRace()">Reset Race</button>

    <!-- table to display results -->
    <table id="resultsTable">
        <thead>
            <tr>
                <th>Method</th>
                <th>Time</th>
                <th>Iterations</th>
                <th>Time Complexity</th>
            </tr>
        </thead>
        <tbody id="results">
            <!-- rows added dynamically -->
        </tbody>
    </table>

    <script>
        let userScore = 500; // Initial user score
        let betAmount = 0; // Initial bet amount
        let resultData; // Store result globally to use in displayRaceResults
        let raceInProgress = false;

        async function startSortingRace() {
            raceInProgress = true;
            const arraySize = document.getElementById('length').value;
            const algorithmTimesResponse = await fetch(`http://localhost:8085/api/sort/speeds?arraySize=${arraySize}`);
            const algorithmTimes = await algorithmTimesResponse.json();

            // update the table with results
            updateResultTable(algorithmTimes);

            // set animation duration for each car based on the algorithm times
            const duration = 4000; // 4 seconds for animation
            document.querySelector(".race-car1").style.transitionDuration =
                (algorithmTimes["mergeSort"].time / 1000) * duration + "ms";
            document.querySelector(".race-car2").style.transitionDuration =
                (algorithmTimes["insertionSort"].time / 1000) * duration + "ms";
            document.querySelector(".race-car3").style.transitionDuration =
                (algorithmTimes["bubbleSort"].time / 1000) * duration + "ms";
            document.querySelector(".race-car4").style.transitionDuration =
                (algorithmTimes["selectionSort"].time / 1000) * duration + "ms";

            document.querySelectorAll('.race-car').forEach(car => car.style.transform = "translateX(970px)");

            await Promise.all([
                waitForTransition('.race-car1'),
                waitForTransition('.race-car2'),
                waitForTransition('.race-car3'),
                waitForTransition('.race-car4')
            ]);

            if (raceInProgress) {
                displayRaceResults();
        }


            // display race result after the longest duration
        }

        function waitForTransition(selector) {
        return new Promise(resolve => {
            const element = document.querySelector(selector);
            element.addEventListener('transitionend', resolve, { once: true });
        });
    }

        function displayRaceResults() {
            // Calculate points won or lost
            const userWon = resultData.selectedAlgorithm === resultData.fastestAlgorithm;
            const winLossAmount = userWon ? betAmount * 2 : -betAmount;
            userScore += winLossAmount; // Update score immediately

            const winLossMessage = userWon ? `You won ${winLossAmount} points!` : `You lost ${betAmount} points.`;
            
            alert(`Race finished! Algorithm Bet on: ${resultData.selectedAlgorithm}\n` +
                `Winning algorithm: ${resultData.fastestAlgorithm}\n` +
                winLossMessage +
                `Fun Fact: ${resultData.funFact}`);
            
            // Update the user's score
            document.getElementById("userScore").textContent = userScore;
            raceInProgress = false;
        }

        function updateResultTable(algorithmTimes) {
            try {
                const table = document.getElementById("results");

                // Add data rows to the table
                addRow(table, "Merge Sort", algorithmTimes["mergeSort"]);
                addRow(table, "Insertion Sort", algorithmTimes["insertionSort"]);
                addRow(table, "Bubble Sort", algorithmTimes["bubbleSort"]);
                addRow(table, "Selection Sort", algorithmTimes["selectionSort"]);
            } catch (error) {
                console.error('Error updating result table:', error);
            }
        }
        function addRow(table, method, data) {
            const row = table.insertRow();
            const cell1 = row.insertCell(0);
            const cell2 = row.insertCell(1);
            const cell3 = row.insertCell(2);
            const cell4 = row.insertCell(3);

            cell1.innerHTML = method;
            cell2.innerHTML = data["time"];
            cell3.innerHTML = data["iterations"];
            cell4.innerHTML = getComplexity(method);
        }
        function getComplexity(method) {
            switch (method) {
                case "Merge Sort":
                    return "O(n log n)";
                case "Insertion Sort":
                    return "O(n^2)";
                case "Bubble Sort":
                    return "O(n^2)";
                case "Selection Sort":
                    return "O(n^2)";
                default:
                    return "";
            }
        }
        function resetRace() {
            document.querySelectorAll('.race-car').forEach(car => car.style.transform = "translateX(0)");
            document.getElementById("betInput").value = '';
            document.getElementById("length").value = '1';
            betAmount = 0;
            document.getElementById("betAmount").textContent = betAmount;

            // clear the table
            const tableBody = document.getElementById('results');
            tableBody.innerHTML = '';
            raceInProgress = false; // Ensure race result does not display after reset
            resultData = null; // Clear stored race results
        }

        async function placeBet() {
            const betInputValue = parseInt(document.getElementById("betInput").value);
            if (isNaN(betInputValue) || betInputValue <= 0 || betInputValue > userScore) {
                alert("Invalid bet amount");
                return;
            }
            betAmount = betInputValue; // Update bet amount
            document.getElementById("betAmount").textContent = betAmount;
            const betResponse = await fetch(`http://localhost:8085/api/sort/bet?betAmount=${betAmount}&startingPoints=${userScore}`);
            resultData = await betResponse.json(); // Store result globally
        }
    </script>
</body>